node-red/.flows.json.backup
[{"id":"8bf81a4e.d48718","type":"tab","label":"Spotter","disabled":false,"info":""},{"id":"d1158e9b.a4164","type":"server","name":"Home Assistant","addon":true},{"id":"1bfa991e.df09a7","type":"ha-entity","z":"8bf81a4e.d48718","name":"Spotter","server":"d1158e9b.a4164","version":1,"debugenabled":false,"outputs":2,"entityType":"switch","config":[{"property":"name","value":"scene_spotter"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":""}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"$entity().state ? \"on\": \"off\"","outputPayloadType":"jsonata","x":110,"y":80,"wires":[["e8011449.27f848"],[]]},{"id":"e8011449.27f848","type":"api-call-service","z":"8bf81a4e.d48718","name":"","server":"d1158e9b.a4164","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.camera_viewer_2","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":130,"y":140,"wires":[["cd0f6f79.c64f7"]]},{"id":"cd0f6f79.c64f7","type":"delay","z":"8bf81a4e.d48718","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":320,"y":140,"wires":[["7d89d5af.b4d86c"]]},{"id":"7d89d5af.b4d86c","type":"api-call-service","z":"8bf81a4e.d48718","name":"Select Source","server":"d1158e9b.a4164","version":1,"debugenabled":false,"service_domain":"media_player","service":"select_source","entityId":"media_player.spotify_jean_pierre_voogt","data":"{\"source\":\"raspotify\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":560,"y":60,"wires":[["3a055207.8b718e"]]},{"id":"3a055207.8b718e","type":"api-call-service","z":"8bf81a4e.d48718","name":"Play Catchy","server":"d1158e9b.a4164","version":1,"debugenabled":false,"service_domain":"media_player","service":"play_media","entityId":"media_player.spotify_jean_pierre_voogt","data":"{\"media_content_id\":\"https://open.spotify.com/playlist/0tJTHB3RyTzJop5CQtZE04\",\"media_content_type\":\"playlist\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":true,"x":550,"y":120,"wires":[["f6f2a84b.a41b38"]]},{"id":"f6f2a84b.a41b38","type":"api-call-service","z":"8bf81a4e.d48718","name":"Shuffle","server":"d1158e9b.a4164","version":1,"debugenabled":false,"service_domain":"media_player","service":"shuffle_set","entityId":"media_player.spotify_jean_pierre_voogt","data":"{\"shuffle\":1}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":530,"y":180,"wires":[[]]}]